<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Face Detection Stream</title>
<style>
  video, canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
</style>
</head>
<body>
<video id="video" width="480" height="360" autoplay muted></video>
<canvas id="canvas" width="480" height="360"></canvas>

<script>
const video = document.getElementById("video");
const canvas = document.getElementById("canvas");
const ctx = canvas.getContext("2d");

// Получаем доступ к вебке
navigator.mediaDevices.getUserMedia({ video: true }).then(stream => {
  video.srcObject = stream;
});
let lastTime = 0;
// Функция для отправки кадра на сервер
async function sendFrame() {
  // Рисуем текущий кадр на временном canvas
  const tempCanvas = document.createElement("canvas");
  tempCanvas.width = 240;
  tempCanvas.height = 240;
  const tempCtx = tempCanvas.getContext("2d");
  tempCtx.drawImage(video, 0, 0, 240, 240);

  const now = performance.now();
  let fps = 1000 / (now - lastTime);
  lastTime = now;

  ctx.clearRect(0, 0, canvas.width, canvas.height);
  ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
  ctx.fillStyle = "lime";
  ctx.font = "16px Arial";
  ctx.fillText(`FPS: ${fps.toFixed(1)}`, 10, 20);
  
  // Получаем изображение в формате blob
  const blob = await new Promise(resolve => tempCanvas.toBlob(resolve, "image/jpeg"));

  // Создаём FormData и отправляем POST
  const formData = new FormData();
  formData.append("file", blob, "frame.jpg");

  try {
    const response = await fetch("http://localhost:8000/predict", { method: "POST", body: formData });
    const data = await response.json();
    console.log("Data:");
    console.log(data);

    if (data && data.boxes) {
      drawBoxes(data.boxes);
    } else {
      console.warn("Нет boxes в ответе:", data);
    }
  } catch (err) {
    console.error("Ошибка запроса:", err);
  }
}

// Функция для отрисовки рамок
function drawBoxes(boxes) {
  ctx.clearRect(0, 0, canvas.width, canvas.height);
  ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
  ctx.strokeStyle = "red";
  ctx.lineWidth = 2;
  boxes.forEach(box => {
    // const [x1, y1, x2, y2] = box;
    // ctx.strokeRect(x1 * canvas.width, y1 * canvas.height,
    //                (x2 - x1) * canvas.width, (y2 - y1) * canvas.height);
    const [x, y, w, h] = box;
    x1 = x - w / 2;
    y1 = y - h / 2;
    ctx.strokeRect(x1 * canvas.width, y1 * canvas.height,
                   w * canvas.width, h * canvas.height);
  });
}

// Каждые 200 мс отправляем кадр
setInterval(sendFrame, 20);
</script>
</body>
</html>
